.jumbotron{
    background-color: $yellow;
    margin-top: 50px;
}

footer{
    background-color: $yellow;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-left: 5px;
}

.btn-reserve{
    width: 100%;
    border-radius:0px;
}

.navbar{
    position:fixed;
}

.test{
    margin-top: 100px;
}

.tab-content{
    padding-top: 10px;
}
