.jumbotron {
  background-color: #fffb10;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #7aff51;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 10px;
  padding-bottom: 10px; }

.card-hotel {
  background-color: #d4efff;
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-bottom: 10px;
  padding-bottom: 10px; }

.btn-reserve {
  background-color: #fca28e;
  width: 100%;
  border-radius: 0px; }

.navbar {
  position: fixed; }

.test {
  margin-top: 100px; }

.tab-content {
  padding-top: 10px; }

.imagen-height {
  height: 360px; }
