$yellow:  #fffb10;
$red: #fca28e;
$green: #7aff51;
$blue: #d4efff;

@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-bottom: $right;
    padding-bottom: $left;
}

@mixin background-color($color){
    background-color: $color;
}

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    @include background-color($yellow);
    @include margenes(50px, 0px);
}

footer{
    @include background-color($green);
    @include margenes(10px, 0px);
    @include padding(0px, 10px, 0px, 10px);
}

.card-hotel{
    @include background-color($blue);
    flex: 1 200px;
    @include margenes(10px, 0px);
    @include padding(0px, 10px, 0px, 10px);
}

.btn-reserve{
    @include background-color($red);
    width: 100%;
    border-radius:0px;
}

.navbar{
    position:fixed;
}

.test{
    margin-top: 100px;
}

.tab-content{
    padding-top: 10px;
}

.imagen-height{
    height: 360px;
}